# Analisi sulla somministrazione dei vaccini

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Parametri

In [2]:
data_file='https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-summary-latest.csv'

## Lettura dati e preprocessing

In [4]:
vaccinazioni_data=pd.read_csv(data_file)
print(vaccinazioni_data.columns)

# riordino in base alla data (che creo e faccio indice)
vaccinazioni_data['data'] = pd.to_datetime(vaccinazioni_data['data_somministrazione'])
vaccinazioni_data.index=vaccinazioni_data['data']
vaccinazioni_data=vaccinazioni_data.sort_index()


# creo una colonna col numero di giorni dalla prima consegna
zero_day=vaccinazioni_data['data'][0]
day_counter=[(dd-zero_day).days for dd in vaccinazioni_data['data']]
vaccinazioni_data['day_counter']=day_counter

giorni=pd.unique(vaccinazioni_data['data_somministrazione'])
day_counter=list(range(len(giorni)))
print('Giorni osservati: %d'%len(giorni))
print('Da: %s'%giorni[0][0:10])
print(' A: %s'%giorni[-1][0:10])
regioni=pd.unique(vaccinazioni_data['area'])


#data[data['denominazione_regione']=='Lombardia'].head(5)
vaccinazioni_data[vaccinazioni_data['area']=='TOS'].tail(5)

Index(['data_somministrazione', 'area', 'totale', 'sesso_maschile',
       'sesso_femminile', 'categoria_operatori_sanitari_sociosanitari',
       'categoria_personale_non_sanitario', 'categoria_ospiti_rsa',
       'categoria_over80', 'categoria_forze_armate',
       'categoria_personale_scolastico', 'prima_dose', 'seconda_dose',
       'codice_NUTS1', 'codice_NUTS2', 'codice_regione_ISTAT', 'nome_area'],
      dtype='object')
Giorni osservati: 73
Da: 2020-12-27
 A: 2021-03-09

,data_somministrazione,area,totale,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_over80,categoria_forze_armate,categoria_personale_scolastico,prima_dose,seconda_dose,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area,data,day_counter
data,,,,,,,,,,,,,,,,,,,
2021-03-05,2021-03-05,TOS,15912,6093,9819,3920,2390,122,4926,682,3872,11184,4728,ITI,ITI1,9,Toscana,2021-03-05,68
2021-03-06,2021-03-06,TOS,7056,2812,4244,3804,1613,116,30,347,1146,2866,4190,ITI,ITI1,9,Toscana,2021-03-06,69
2021-03-07,2021-03-07,TOS,5561,2330,3231,3083,1095,70,3,536,774,2044,3517,ITI,ITI1,9,Toscana,2021-03-07,70
2021-03-08,2021-03-08,TOS,6128,2480,3648,4034,1728,125,54,179,8,1345,4783,ITI,ITI1,9,Toscana,2021-03-08,71
2021-03-09,2021-03-09,TOS,2553,990,1563,1322,581,71,521,55,3,1009,1544,ITI,ITI1,9,Toscana,2021-03-09,72

### Creazione della struttura dati


**MODIFICARE**

- Si crea un dizionario per ciascuno degli indicatori selezionati
- a sua volta ciascun elemento del primo dizionario Ã¨ un dizionario con le regioni come chiave
    - ogni elemento indicatore contiene i valori dell'indicatore per la regione

**Esempio:**
```    
trend[indicatore][regione]
```

In [6]:
# indicatori osservati
indicatori=['data','day_counter','totale', 'sesso_maschile',
       'sesso_femminile', 'categoria_operatori_sanitari_sociosanitari',
       'categoria_personale_non_sanitario', 'categoria_ospiti_rsa',
       'categoria_over80', 'categoria_forze_armate',
       'categoria_personale_scolastico', 'prima_dose', 'seconda_dose']

# qui immetto tutti i trend per ciascuna regione
vaccinazioni={}
for regione in regioni:
    vaccinazioni[regione]={}
    for ind in indicatori:    
        vaccinazioni[regione][ind]=np.array(vaccinazioni_data[vaccinazioni_data['area']==regione][ind])

In [8]:
vaccinazioni['TOS']

{'data': array(['2020-12-27T00:00:00.000000000', '2020-12-30T00:00:00.000000000',
        '2020-12-31T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
        '2021-01-02T00:00:00.000000000', '2021-01-03T00:00:00.000000000',
        '2021-01-04T00:00:00.000000000', '2021-01-05T00:00:00.000000000',
        '2021-01-06T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
        '2021-01-08T00:00:00.000000000', '2021-01-09T00:00:00.000000000',
        '2021-01-10T00:00:00.000000000', '2021-01-11T00:00:00.000000000',
        '2021-01-12T00:00:00.000000000', '2021-01-13T00:00:00.000000000',
        '2021-01-14T00:00:00.000000000', '2021-01-15T00:00:00.000000000',
        '2021-01-16T00:00:00.000000000', '2021-01-17T00:00:00.000000000',
        '2021-01-18T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
        '2021-01-20T00:00:00.000000000', '2021-01-21T00:00:00.000000000',
        '2021-01-22T00:00:00.000000000', '2021-01-23T00:00:00.000000000',
        '2021-01-24T00:00:00.000000000', '2021-01-25T00:00:00.000000000',
        '2021-01-26T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
        '2021-01-28T00:00:00.000000000', '2021-01-29T00:00:00.000000000',
        '2021-01-30T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
        '2021-02-01T00:00:00.000000000', '2021-02-02T00:00:00.000000000',
        '2021-02-03T00:00:00.000000000', '2021-02-04T00:00:00.000000000',
        '2021-02-05T00:00:00.000000000', '2021-02-06T00:00:00.000000000',
        '2021-02-07T00:00:00.000000000', '2021-02-08T00:00:00.000000000',
        '2021-02-09T00:00:00.000000000', '2021-02-10T00:00:00.000000000',
        '2021-02-11T00:00:00.000000000', '2021-02-12T00:00:00.000000000',
        '2021-02-13T00:00:00.000000000', '2021-02-14T00:00:00.000000000',
        '2021-02-15T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
        '2021-02-17T00:00:00.000000000', '2021-02-18T00:00:00.000000000',
        '2021-02-19T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
        '2021-02-21T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
        '2021-02-23T00:00:00.000000000', '2021-02-24T00:00:00.000000000',
        '2021-02-25T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
        '2021-02-27T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
        '2021-03-01T00:00:00.000000000', '2021-03-02T00:00:00.000000000',
        '2021-03-03T00:00:00.000000000', '2021-03-04T00:00:00.000000000',
        '2021-03-05T00:00:00.000000000', '2021-03-06T00:00:00.000000000',
        '2021-03-07T00:00:00.000000000', '2021-03-08T00:00:00.000000000',
        '2021-03-09T00:00:00.000000000'], dtype='datetime64[ns]'),
 'day_counter': array([ 0,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
        53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
        70, 71, 72], dtype=int64),
 'totale': array([  620,   327,   805,  2368,  3497,  3336,  5063,  5244,  4519,
         6018,  5944,  4483,  3001,  5092,  3581,  4063,  3254,  3878,
         3271,  2535,  1119,  1104,  1314,  1589,  2861,  3949,  3348,
         5123,  5392,  4835,  6275,  6136,  4620,  2964,  5465,  3741,
         4221,  4250,  5748,  4527,  2806,  4095,  4483,  4262,  5371,
         7604,  7784,  8994,  8764,  9266,  8172,  8773,  8260,  4640,
         5101,  9817,  7707, 10177, 10350,  9832,  1919,  1648,  4274,
        10420, 17641, 16925, 15912,  7056,  5561,  6128,  2553],
       dtype=int64),
 'sesso_maschile': array([ 267,  104,  202,  786, 1097, 1052, 1893, 1755, 1459, 1751, 1641,
        1596, 1104, 1689, 1398, 1398, 1179, 1347, 1046,  871,  636,  531,
         635,  686, 1063, 1354, 1072, 1895, 1791, 1572, 1880, 1698, 1622,
        1090, 1942, 1475, 1452, 1593, 2244, 1550,  953, 1358, 1468, 1280,
        2010, 2683, 2360, 2568, 3371, 3338, 3168, 3276, 2928, 1790, 2087,
        4253, 3315, 4348, 4127, 3652,  703,  667, 1598, 3701, 6220, 6407,
        6093, 2812, 2330, 2480,  990], dtype=int64),
 'sesso_femminile': array([  353,   223,   603,  1582,  2400,  2284,  3170,  3489,  3060,
         4267,  4303,  2887,  1897,  3403,  2183,  2665,  2075,  2531,
         2225,  1664,   483,   573,   679,   903,  1798,  2595,  2276,
         3228,  3601,  3263,  4395,  4438,  2998,  1874,  3523,  2266,
         2769,  2657,  3504,  2977,  1853,  2737,  3015,  2982,  3361,
         4921,  5424,  6426,  5393,  5928,  5004,  5497,  5332,  2850,
         3014,  5564,  4392,  5829,  6223,  6180,  1216,   981,  2676,
         6719, 11421, 10518,  9819,  4244,  3231,  3648,  1563],
       dtype=int64),
 'categoria_operatori_sanitari_sociosanitari': array([ 460,   34,   97, 1716, 2682, 2565, 4099, 4354, 3984, 5308, 5360,
        3779, 2432, 4360, 2944, 3308, 2459, 2758, 2493, 2002,  430,  392,
         432,  579, 2022, 2936, 2601, 4158, 4357, 4019, 5421, 5375, 3763,
        2381, 4441, 3020, 3475, 3166, 4121, 3725, 2349, 3373, 3581, 3536,
        2809, 3742, 3666, 3033, 4532, 5081, 3465, 2914, 2964, 3349, 3667,
        3483, 1489,   80, 1074, 1557, 1353, 1110, 3188, 3167, 3318, 2816,
        3920, 3804, 3083, 4034, 1322], dtype=int64),
 'categoria_personale_non_sanitario': array([ 147,   10,   10,    2,   15,    9,   32,   11,   10,   30,   39,
         144,  138,  210,  283,  350,  475,  676,  538,  293,  314,  221,
         256,  220,   81,  172,   37,   56,   84,   74,   66,  139,  219,
         135,  407,  287,  240,  624, 1184,  575,  300,  345,  388,  241,
        2218, 3272, 3768, 5614, 2026,  982, 1173, 1511, 1233, 1038, 1216,
        2280, 1571, 1567, 1696, 1703,  314,  202,  599, 1026, 1155, 1643,
        2390, 1613, 1095, 1728,  581], dtype=int64),
 'categoria_ospiti_rsa': array([ 13, 283, 698, 650, 800, 762, 932, 879, 525, 680, 545, 560, 431,
        522, 354, 405, 320, 444, 240, 240, 375, 491, 626, 790, 758, 841,
        709, 909, 951, 742, 788, 622, 638, 448, 617, 422, 505, 455, 442,
        227, 157, 377, 513, 484, 323, 188, 163,  81, 215, 178, 249, 196,
        211, 203, 195, 315, 204, 263, 215, 259, 126,  78, 126, 125, 100,
        199, 122, 116,  70, 125,  71], dtype=int64),
 'categoria_over80': array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    1,    0,    0,    0,    0,    0,    0,
           0,    0,    6,    1,    5,    1,    0,    0,    0,    1,    0,
           0,    0,    0,    0,   56,   10,  215,  214,  152,   17,    1,
          22,  508, 4082, 3159, 1775,    1,    0,    2, 1808, 8889, 7842,
        4926,   30,    3,   54,  521], dtype=int64),
 'categoria_forze_armate': array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    6,    0,    0,    0,    0,    0,    0,    0,    1,
          10,  402,  186,  261,  795,  691,  584,  796,  580,   15,   13,
        1014, 1104, 1237, 1007,  975,  106,  249,  334,  782,  733,  730,
         682,  347,  536,  179,   55], dtype=int64),
 'categoria_personale_scolastico': array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          11,    0,    1,    5, 1140, 2324, 2486, 3142, 3120,   18,    9,
        2703, 2831, 2948, 3199, 3563,   19,    9,   25, 3512, 3446, 3695,
        3872, 1146,  774,    8,    3], dtype=int64),
 'prima_dose': array([  620,   327,   805,  2368,  3497,  3336,  5063,  5244,  4519,
         6018,  5944,  4483,  3001,  5092,  3581,  4063,  3254,  3878,
         3271,  2022,  1021,  1104,  1077,   867,   525,   640,   200,
          248,   219,   207,   349,   302,   197,   103,   521,   194,
          241,   960,  1924,  1294,   885,  3636,  3872,  3739,  5129,
         7391,  7557,  8884,  7945,  8555,  7421,  7916,  7754,  4127,
         4932,  9539,  7546,  9981,  9359,  8626,  1017,   921,   639,
         6985, 14078, 13849, 11184,  2866,  2044,  1345,  1009],
       dtype=int64),
 'seconda_dose': array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,  513,   98,    0,
         237,  722, 2336, 3309, 3148, 4875, 5173, 4628, 5926, 5834, 4423,
        2861, 4944, 3547, 3980, 3290, 3824, 3233, 1921,  459,  611,  523,
         242,  213,  227,  110,  819,  711,  751,  857,  506,  513,  169,
         278,  161,  196,  991, 1206,  902,  727, 3635, 3435, 3563, 3076,
        4728, 4190, 3517, 4783, 1544], dtype=int64)}

## Grafici